global/config.inc
global/config.dev.php
global/database.php
global/prod_minc_2016.crt
global/prod_minc_2017.crt
sql/restore-siminc2/restore_treinamento.sh
sql/restore-siminc2/restore_homologacao.sh
.idea/
arquivos/
