title: "SiMEC API"
main: Simec

# Configuração apenas das bibliotecas
source:
    - ../includes/
    - ../global/
    - ../spo/
    - ../zimec/library/Simec/
exclude:
    #includes
    - funcoesspo_componentes.php
    - ActiveRecord/
    - dompdf/
    - FirePHPCore/
    - fpdf/
    - jpgraph/
    - jpgraph.old/
    - jpgraph1/
    - library/Zend/
    - mpdf60/
    - nusoap/
    - open_flash_chart/
    - pclzip-2-6/
    - PdfParser/
    - SSD/
    - SSD2/
    #zimec/library/Simec/ - SVN external
    - legacy/


# Configuração geral SIMEC
#source: ../
#exclude:
#    - adodb/
#    - arquivos/
#    - jpgraph/
#    - dav/
#    - db/
#    - elabrev/modulos/relatorio/acao/relacoesbck.inc
#    - includes/library/Zend/
#    - includes/ActiveRecord/
#    - includes/dompdf/
#    - includes/FirePHPCore/
#    - includes/fpdf/
#    - includes/jpgraph/
#    - includes/jpgraph.old/
#    - includes/jpgraph1/
#    - includes/mpdf60/
#    - includes/nusoap/
#    - includes/open_flash_chart/
#    - includes/pclzip-2-6/
#    - includes/PdfParser/
#    - includes/SSD/
#    - includes/SSD2/
#    - ted/classes/Zend/
#    - zimec/library/Zend/
#    - www/temp/
#    - www/api/

destination: ../www/api/
extensions:
    - php
    - inc

download: Yes
templateConfig: theme-default-simec/config.neon
todo: Yes
tree: Yes
#debug: Yes
