/*CSS para impressao*/
@media print {
    body {
        margin: 0px 0px 0px 0px;
        padding: -20px;
        font-size: 8px !important;
        line-height: 13px;
    }
    .wrapper {
        margin-top: 0px;
        padding: 0px  0px 0px 0px;
    }
    .ibox-content {
        border: 0px;
    }
    .navbar-center, .navbar-right, .navbar-default, .navbar-minimalize, .ibox-tools {
        display: none;
    }
    #materialButton {
        display: none;
    }
    .noprint {
        display: none;
    }
    .footer-actions {
        display: none;
    }
    

    .table > tfoot > tr > td {
        padding: 3px;
        border: 0 !important;
        border-bottom: 1px solid #c0c0c0 !important;
    }
    .table > thead > tr > td {
        padding: 3px;
        border: 0 !important;
        /*border-bottom: 1px solid #c0c0c0 !important;*/
    }
    .table > tbody > tr > td {
        padding: 3px;
        border: 0 !important;
        border-bottom: 1px solid #c0c0c0 !important;
    }
    .table > tr > td {
        padding: 3px;
        border: 0 !important;
        border-bottom: 1px solid #c0c0c0 !important;
    }
    tr.titulo_espelho {
        border: 0 !important;
    }
    tr.titulo_espelho td {
        border: 0 !important;
        font-weight: lighter;
        box-shadow: inset 0 0 0 1000px #c0c0c0 !important;
    }
    tr.titulo_espelho td b {
        color: #000 !important;
        font-weight: lighter;
        font-size: 12px;
    }
}

