.fundo_td{background-color:#ececec;}
.titulo_pagina{font-weight:bold;font-size:20px;color:#FFFFFF}
.titulo_box{font-weight:bold;font-size:18px;color:#0d7ec2;text-shadow:#b1b1b1 0px 1px 2px;}
.subtitulo_box{font-weight:normal;font-size:10px;color:#FFFFFF;  text-align:left;}
.fundo_td{text-align:left;vertical-align:top;}
.tabela_painel{font-weight:bold;font-size:8px;color:#FFFFFF;font-family:fantasy;}
.lista_metas{float:left}
#busca{background: none repeat scroll 0% 0% rgb(255, 255, 255); width:400px;border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 35px;}
.tabela_box{color:#FFFFFF;}
.tabela_box td{background-color:#3CB371;text-shadow:#000000 0px 2px 2px;}
.tabela_box_azul td{background-color:#63B8FF;text-shadow:#000000 0px 2px 2px;color:#FFFFFF;}
.tabela_box_azul_escuro2 td{background-color:#ececec;text-shadow:#b1b1b1 0px 2px 2px;color:#6a6a6a;margin-bottom:5px;}
.tabela_box_azul_escuro td{background-color:#ececec;text-shadow:#b1b1b1 0px 2px 2px;color:#000000;margin-bottom:5px;}
.fundo_td_azul{background-color:#2B86EE}
.fundo_td_azul:hover{background-color:#01A2D8}
.fundo_td_verde{background-color:#0F6D39}
.fundo_td_verde:hover{background-color:#32CD32}
.fundo_td_laranja{background-color:#EE9200}
.fundo_td_laranja:hover{background-color:#EBB513}
.fundo_td_vermelho{background-color:#BB0000}
.fundo_td_vermelho:hover{background-color:#DD0000}
.fundo_td_roxo{background-color:#5333AD}
.fundo_td_roxo:hover{background-color:#6A5ACD}
.fundo_td_azul_escuro{background-color:#152D56}
.fundo_td_azul_escuro:hover{background-color:#1F3864}
.div_fotos{background-color:#204481;cursor:pointer;margin-bottom:3px;text-shadow:#000000 0px 1px 2px;width:450px;margin-bottom:2px}
body{background-color:#fff;margin:0px;padding-top:0px;}
#bg_topo{background:url('/pde/cockpit/images/pne/topo.jpg') repeat center; background-position:center; height:110px; width: 100%; margin:1px 0 0 0;}

.fundo_titulo{font: 2em 'Dejavu Serif',Constantia;text-rendering: optimizeLegibility;color:#FFFFFF;}
.numero{text-align:right;font-size:11px;font-family:verdana}
.center{text-align:center}
.titulo_box a{color:#FFFFFF;text-decoration:none;}
.titulo_box a:hover{color:#FFFFFF;text-decoration:none;}
.div_fotos_interno{width:98%;height:85px}
.bold{font-weight:bold}
.esquerda{text-align:left;}
.link{cursor:pointer}
#observacao{font-size: 10px; margin-top:3px; line-height: 100%;  	}


/* CSS Para o header da página */
/*#header { width:100%; height:110px; background:url('/pde/cockpit/images/pne/topo.jpg') repeat center; margin:1px 0 0 0;}*/
#header { width:100%; height:110px; background:url('/pde/cockpit/images/pne/topo4.png') repeat center; margin:1px 0 0 0;}
.header-content { width:909px; height:209px; margin: 0 auto;}
#bg-logo1 { width:429px; height:110px; background-color:#65a83c; margin:0 2px 0 0; float:right;*margin:0 2px 0 0;}
#logo1 { width:362px; height:100px; background:url('/pde/cockpit/images/pne/logo.png') no-repeat; margin:5px 45px 0 0; float:right;}
#texto-topo { width:380px; height:30px; margin:85px -390px 0 0; float:right; color:#FFFFFF; font-weight:bold; font-size:1.3em; line-height:1.3em;}
#social-icons { margin: 0; padding: 0; position: absolute; width: 900px; text-align: right;}
#social-icons ul { margin: 5px 0 0 0; padding: 0;}
#social-icons ul li{ display: inline; margin-right: 2px;}

/* Css Acima do Header -> Barra do Brasil*/
section #wrapper-barra-brasil {position: relative;overflow: hidden;margin: 0 auto !important;width: 100%;max-width: 960px;}
#barra-brasil {height: 32px;background: #f1f1f1;font-weight: bold;font-size: 12px;line-height: 32px;font-family: "Open Sans",Arial,Helvetica,sans-serif;}
#barra-brasil div, #barra-brasil a, #barra-brasil ul, #barra-brasil li {margin: 0;padding: 0;border: 0;font-size: 100%;font-family: inherit;vertical-align: baseline;}
#barra-brasil .brasil-flag {float: left;padding: 7px 0 6px;width: 115px;height: 19px;border-right: 2px solid #dfdfdf;}
#barra-brasil .brasil-flag .link-barra {display: block;padding-left: 42px;width: 43px;background: url('/pde/cockpit/images/pne/brasil.png') 8px center no-repeat;text-transform: uppercase;line-height: 19px;}
#barra-brasil .link-barra {color: #606060;}
#barra-brasil a {text-decoration: none;}
#barra-brasil .acesso-info {float: left;padding: 0 13px;}
#barra-brasil .copa-counter {position: absolute;top: 0;left: 343px;padding: 0;color: #138542;width: 210px;text-align: center;}
#barra-brasil .list {position: absolute;top: 0;right: 0;}
#barra-brasil ul {list-style: none;}
#barra-brasil .list-item {display: inline-block;padding: 0 15px 0 13px;height: 32px;border-right: 2px solid #dfdfdf;}
#barra-brasil .list .first {border-left: 2px solid #dfdfdf;}

#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;}
#boxes .window{position:fixed;left:0;top:0;width:440px;height:200px;display:none;z-index:9999;padding:20px;}
#boxes #dialog{width:375px;height:300px;padding:10px;background-color:#ffffff;}

.desaparece{display: none;}