.botao{
	cursor:pointer;
	text-decoration:underline;
}
.botao:hover{
	background-color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}
.fechar_div_cadastro{
	float: top;
	float: right;
	border: none;
	width: 20px;
	cursor: pointer;
}
.div_cadastro{
	width:100%;
	display:none;
}
.formFundo{
	margin-top:-60px;
	margin-left:-10px;
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	z-index:30;
}
.formConteudo{
	background-color:white;
	position:absolute;
	margin-left:25%;
	width:50%;
	height:60%;
	z-index:30;
}